#include <dt-bindings/pinctrl/am33xx.h>
#include <dt-bindings/interrupt-controller/irq.h>

/dts-v1/;
/plugin/;

/ {
	compatible = "ti,beaglebone", "ti,beaglebone-black", "ti,beaglebone-green";

	/* identification */
	part-number = "BB-SPIDEV0";
	version = "00A0";

	/* state the resources this cape uses */
	exclusive-use =
		/* the pin header uses */
		"P9.17",	/* spi0_cs0 */
		"P9.18",	/* spi0_d1 */
		"P9.22",	/* spi0_sclk */
		"P8.17",	/* spi0_sclk */
		"P8.17",	/* gpmc_ad11.gpio0_27 VSYNC */
		/* the hardware ip uses */
		"spi0";

	fragment@0 {
		target = <&am33xx_pinmux>;
		__overlay__ {
			/* default state has all gpios released and mode set to uart1 */
			bb_spi0_pins: pinmux_bb_spi0_pins {
				pinctrl-single,pins = <
					AM33XX_IOPAD(0x950, PIN_INPUT_PULLUP | MUX_MODE0)	/* spi0_cs0.spi0_sclk, INPUT_PULLUP | MODE0 */
					AM33XX_IOPAD(0x958, PIN_INPUT_PULLUP | MUX_MODE0)	/* spi0_cs0.spi0_d1, INPUT_PULLUP | MODE0 */
					AM33XX_IOPAD(0x95c, PIN_OUTPUT_PULLUP | MUX_MODE0)	/* spi0_cs0.spi0_cs0, OUTPUT_PULLUP | MODE0 */
					AM33XX_IOPAD(0x82C, PIN_INPUT_PULLDOWN | MUX_MODE7)	/* gpmc_ad11.gpio0_27 VSYNC */
				>;
			};
		};
	};

	fragment@1 {
		target = <&spi0>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;

			status = "okay";
			pinctrl-names = "default";
			pinctrl-0 = <&bb_spi0_pins>;

			lepton2 {
				#address-cells = <1>;
				#size-cells = <0>;

				compatible = "flir,lepton2";

				/* SPI setup
				 *
				 * lepton SPI mode 3: CPHA = 1, CPOL = 1
				 * p. 50 Lepton with Radiometry Datasheet (500-0736-01-09 rev 110) 
				 */
				reg = <0>;
				spi-max-frequency = <25000000>;
				spi-cpha;
				spi-cpol;

				/* VSYNC setup */
				interrupt-parent = <&gpio0>;
				interrupts = <27 IRQ_TYPE_EDGE_RISING>;
			};
		};
	};
};
